<div class="mdl-grid">
  <section id="orders" class="mdl-cell mdl-cell--8-col relative">
    <div class="mdl-grid">
      {{#each siteurls}}
      <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Order #{{id}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <table class="order-details">
            <tr><th>Customer</th><td>{{Siterecord.siteURL}}</td></tr>
          </table>
        </div>
        <div class="mdl-card__actions">
          <a class="mdl-button mdl-button--colored mdl-js-button
                    mdl-js-ripple-effect"
             href="/edit/{{id}}">Edit</a>
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect"
             href="/delete/{{id}}">Delete</a>
        </div>
      </div>
      {{/each}}
       <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect
                 mdl-button--colored mdl-shadow--4dp mdl-color--accent"
          href="/create">
        <i class="material-icons" role="presentation">add</i>
        <span class="visuallyhidden">Add</span>
      </a>
       <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
          href="/sitelistinsert">
        <i class="" role="presentation">Enter site list</i>
        <span class="visuallyhidden">Add</span>
      </a>
    </div>
  </section>