
<form method="post" action="/nightmare">
<div class="mdl-card__actions">
    <button id="save site-list" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised">
        Start code execution for each site.
    </button>
    <div class="mdl-tooltip" data-mdl-for="save site-list">
        <strong>Start code execution for each site.</strong>
    </div>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/">Cancel</a>
</div>
 </form>